.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #2c2c6c;
}
.footer .social  {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.footer p{
    font-size: 1.5rem;
    color: white;
}
.footer .social a {
    color: #fff9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
}
@media screen and (max-width:767px) {
    .footer{
        padding-top: 20px;
        flex-direction: column;
    }
    .footer .social  {
      width: 80%;
    }
  }