.space {
  padding: 0rem 5.625rem;
  margin-top: 8rem;
}



.light {
  background-color: #d6edff;
  color: #1f1f38;
  --hover: #1f1f38;
}
.dark {
  background-color: #1f1f38;
  background-image: url(./../src/assets/img/تنزيل.png);
  color: white;
  --hover: white;

}
/* body {
  background-image: url(./../src/assets/img/تنزيل.png);

} */

@media screen and (max-width:767px) {
  .space {
    padding: 0rem 9px;
  }
}