.space {
  padding: 0rem 5.625rem;
  margin-top: 8rem;
}

.dark {
  background-color: #1f1f38;

  color: white;


}

.light {
  background-color: #fff9;

  color: #1f1f38;
}

body {
  background-image: url(./../src/assets/img/تنزيل.png);

}

@media screen and (max-width:767px) {
  .space {
    padding: 0rem 9px;
  }
}